@font-face {
  font-family: "Norse";
  src: url(fonts/Norse-Bold.otf);
  font-weight: bold;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-family: "Norse", serif;
}

main {
  display: flex;
  height: 100%;
}

#side {
  flex-grow: 1;
  max-width: 33%;
  position: relative;
}

.side__logo {
  position: absolute;
  top: 15rem;
  background: rgba(12, 12, 12, 0.47);
  display: flex;
  padding: 1.5rem;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
}

.side__logo img {
  height: 6.25rem;
}

.side__logo h1 {
  font-size: 5rem;
  padding-top: 1.5rem;
}

.side__image-container {
  height: 100%;
}

.side__image-container img {
  height: inherit;
  object-fit: cover;
}

#content-container {
  background: lime;
  flex-grow: 2;
}
